 @import "bootstrap";
 @import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
 @import "users";

 .menu ul li {
 		  
        background-color:#d87213; 
        color: white;
        float: left;
        width: 120px;
        height: 40px; 
        display: inline-block;   
        text-align: center;
        line-height: 40px;
        font-size: 15px;
        position: relative ;

      }
      

      .menu ul li:hover{

        background-color:#e58714; 
      }

      .menu ul{
        padding: 0;
         
      }
    
      .menu ul ul {
        display: none;
      }

      .menu ul li:hover > ul{
        display: block; 
      }  
      
      .menu ul ul ul {
        margin-left:121px ; 
        top: 0px;
        position: absolute;
      }

      .menu ul ul li :hover{
        background-color: #a2b5e5; 
      }

      .menu ul ul ul li:hover {
        background-color: #a2e5e1;
      }


 .menu2 li {
          
      line-height: 40px;
      margin-left: 20px;



}

      .botaoenviar {
          margin-top: 30px;
          
      }



#footer {
    background: #DF7F40 !important;
    margin-left: 3px;
    width: 1250px;
    height: 150px;
}


#footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;


   
}

#footer ul.social li a i {
   margin-right: 5px;
  font-size:25px;
  -webkit-transition: .5s all ease;
  -moz-transition: .5s all ease;
  transition: .5s all ease;
}


#footer ul.social li:hover a i {
  font-size:30px;
  margin-top:-50px;
}




